<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Website Carbon Audit - Coming Soon</title>
            <meta name="description" content="What is the environmental impact of your website, and how can you reduce it? Find out where to start with a Website Carbon Audit.">
            <meta name="theme-color" content="#a2b065">
            <link rel="canonical" href="{{ site.baseURL }}{{ page.url }}">
            <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
            <link rel="shortcut icon" type="image/svg+xml" href="Icon.svg" />

            <!-- FB OG -->
            <meta property="og:url" content="{{ site.baseURL }}{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="Website Carbon Audit">
<meta property="og:image" content="https://websitecarbonaudit.com/oglarge.png">
<meta property="og:image:alt" content="The words Website Carbon Audit with a illustration of a web page and magnifying glass.">
<meta property="og:description" content="What is the environmental impact of your website, and how can you reduce it? Find out where to start with a Website Carbon Audit.">
<meta property="og:site_name" content="Website Carbon Audit">
<meta property="og:locale" content="en">

<!-- TW Graph -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@fershad">
<meta name="twitter:url" content="{{ site.baseURL }}{{ page.url }}">
<meta name="twitter:title" content="Website Carbon Audit">
<meta name="twitter:description" content="What is the environmental impact of your website, and how can you reduce it? Find out where to start with a Website Carbon Audit.">
<meta name="twitter:image" content="https://websitecarbonaudit.com/oglarge.png">
<meta name="twitter:image:alt" content="The words Website Carbon Audit with a illustration of a web page and magnifying glass.">
            {% analytics %}
        </head>
        <body>
            <a
  class="skip-link"
  href="#main-content">Skip to content</a
>

{% include "partials/header" %}
    <main id="main-content" class="wrapper flow">{{ content | safe }}</main>
    {% include "partials/footer" %}
    
</body>
</html>